.action-panel {
  margin-top: 10px;
}

.table {
  margin-top: 50px;
  border: 1px solid #ddd;
}
.table thead {
  tr th{
    width: calc(100% / 4);
    &:last-child {
      text-align: right;
    }
  }
}
.table tbody {
  & > tr {
    & > td{
      vertical-align: middle;
      width: calc(100% / 4);
      &:last-child {
        text-align: right;
      }
    }
  }
}

#add-user-button {
  margin-right: 5px;
}

.form-control {
  height: 30px;
}