<!--suppress ALL -->
<div>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Login</th>
            <th>Birth date</th>
            <th>Age</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="user in $ctrl.users" user="user" data-id="{{$ctrl.users.indexOf(user)}}">
            <td><span ng-hide="$ctrl.editing_user">{{user.login}}</span><input type="text" class="form-control" ng-show="$ctrl.editing_user"></td>
            <td><span ng-hide="$ctrl.editing_user">{{user.birthdate.toDateString()}}</span><input type="text" class="form-control" ng-show="$ctrl.editing_user"></td>
            <td><span ng-hide="$ctrl.editing_user">{{user.age}}</span><input type="text" class="form-control" ng-show="$ctrl.editing_user"></td>
            <td>
               <button class="btn btn-primary btn-sm" ng-click="$ctrl.editUserInfo()" ng-hide="$ctrl.editing_user">Edit</button>
               <button class="btn btn-success btn-sm" ng-show="$ctrl.editing_user" ng-click="$ctrl.applyEditUserInfo($event)">Accept</button>
               <button class="btn btn-danger btn-sm">Delete</button>
            </td>
         </tr>
      </tbody>
   </table>

   <div id="add-user-panel">
      <div class="row" ng-show="$ctrl.adding_user">
         <div class="col-md-6">
            <div class="form-group">
               <label for="new-login">Your login</label>
               <input type="text" class="form-control" id="new-login" placeholder="Login" ng-model="$ctrl.newUser.name">
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="new-birthdate">Your Birth date</label>
               <input type="text" class="form-control" id="new-birthdate" placeholder="Birth date" ng-model="$ctrl.newUser.birthdate">
            </div>
         </div>
      </div>
      <div class="action-panel clearfix">
         <button ng-show="$ctrl.adding_user" class="btn btn-danger pull-right" ng-click="$ctrl.cancelAddNewUser()">Cancel</button>
         <button class="btn btn-success pull-right" id="add-user-button" ng-click="$ctrl.addNewUser()">Add</button>
      </div>
   </div>
</div>